/*-- -------------------------- */
/*          Services          */
/* -------------------------- */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1724 {
      padding: var(--sectionPadding);
      padding-right: 0;
      padding-left: 0;
      position: relative;
    }
    #services-1724 .cs-container {
      width: 100%;
      max-width: 156.25rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: clamp(3rem, 6vw, 4rem);
    }
    #services-1724 .cs-content {
      text-align: center;
      width: 100%;
      max-width: 80rem;
      box-sizing: border-box;
      padding: 0 clamp(1rem, 3.8vw, 2.5rem);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
    #services-1724 .cs-title {
      max-width: 12ch;
    }
    #services-1724 .cs-text {
      max-width: 39.5rem;
    }
    #services-1724 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
    #services-1724 .cs-item {
      text-align: left;
      list-style: none;
      width: 100%;
      height: clamp(13.75rem, 32vw, 30rem);
      margin: 0;
      box-sizing: border-box;
      padding: 0;
      background-color: #000;
      box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      grid-column: span 12;
      position: relative;
      z-index: 1;
    }
    #services-1724 .cs-item:hover .cs-picture::after {
      opacity: 0.6;
    }
    #services-1724 .cs-item:hover .cs-picture img {
      transform: scale(1.2);
    }
    #services-1724 .cs-item:hover .cs-number {
      opacity: 1;
      top: clamp(1rem, 2.3vw, 2rem);
    }
    #services-1724 .cs-item:hover .cs-h3 {
      opacity: 1;
      bottom: clamp(1rem, 2.3vw, 2rem);
    }
    #services-1724 .cs-link {
      text-decoration: none;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: clamp(1rem, 2.3vw, 2rem);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      z-index: 1;
    }
    #services-1724 .cs-link::after {
      content: "";
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      transition: opacity 0.3s;
    }
    #services-1724 .cs-number {
      font-size: clamp(3.0625rem, 6vw, 5.25rem);
      font-weight: 900;
      color: rgba(0, 0, 0, 0);
      opacity: 0;
      position: absolute;
      top: 0;
      right: clamp(1rem, 2.3vw, 2rem);
      transition: opacity 0.3s, top 0.3s;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--bodyTextColorWhite);
    }
    #services-1724 .cs-h3 {
      font-size: clamp(1.25rem, 2vw, 1.9375rem);
      font-weight: 900;
      line-height: 1.2em;
      white-space: nowrap;
      width: 80%;
      margin: 0;
      color: var(--bodyTextColorWhite);
      overflow: hidden;
      transition: opacity 0.3s, bottom 0.3s;
    }
    #services-1724 .cs-picture {
      width: 100%;
      height: 100%;
      pointer-events: none;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      overflow: hidden;
    }
    #services-1724 .cs-picture:before {
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(102, 102, 102, 0) 0%, #000000 100%);
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }
    #services-1724 .cs-picture:after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--primary);
      opacity: 0;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: opacity 0.3s;
    }
    #services-1724 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: transform 0.7s;
    }
    .service-item {
        display: inline-block;
        margin: px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .service-item img {
        width: 300px;
        height: auto;
        border-radius: 50px;
        transition: transform 0.3s;
    }
    
    /* Overlay background */
    .service-item::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(59, 59, 59, 0.6);
        opacity: 0;
        transition: opacity 0.3s;
        margin: px;

    }
    
    /* Title on hover */
    .service-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        font-weight: bold;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 2;
    }
    
    /* Description at the bottom */
    .service-text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 5px;
        opacity: 0;
        transition: opacity 0.5s;
    }
    
    /* Show title, description, and overlay on hover */
    .service-item:hover .service-title,
    .service-item:hover .service-text,
    .service-item:hover::after {
        opacity: 1;
    }    
    
  }
  